
	// @include extra-small-screen {
	// 	background: green;
	// };
	// @include small-screen {
	// 	background: black;
	// };
	// @include medium-screen {
	// 	background: orange;
	// };
	// @include large-screen {
	// 	background: red;
	// };
	// @include largest-screen {
	// 	background: maroon
	// };

$line-spacing: 50px;

.menu-main-menu-container {
	width: 100%;
}

.sub-menu {
	width: inherit;
}
.main-navigation {
	display: flex;
	justify-content: center;
	font-size: 1.5em;	

	

	// Main menu bar
	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		height: $line-spacing;
		line-height: $line-spacing;

		// Sub-menu items
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: inherit;
			left: -999em;
			z-index: 99999;
			display: inline-block;

			// ul {
			// 	left: -999em;
			// 	top: 0;
			// }

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;		
							
				}	
				background-color: blue;		
				width: 250%;		
			}

			a {
				// font-size: 0.5em;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: block;
		background-color: red;
		margin: auto;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;		
	

		a {
			margin: auto;
			width: 100%;
			height: 100%;
		}

		&:hover > a,
		&.focus > a {			
			background-color: mediumaquamarine;
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: midnightblue;
	}
}

/* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

.comment-navigation,
.posts-navigation,
.post-navigation {

	// .site-main & {
	// 	margin: 0 0 1.5em;
	// }

	// .nav-links {
	// 	display: flex;
	// }

	// .nav-previous {
	// 	flex: 1 0 50%;
	// }

	// .nav-next {
	// 	text-align: end;
	// 	flex: 1 0 50%;
	// }
}




@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}
