$line-spacing: 50px;

.menu-main-menu-container {
	width: 100%;
}

.sub-menu {
	width: inherit;
}

.main-navigation {
	justify-content: center;
	z-index: 10001;

	// Main menu bar
	ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0px;
		height: $line-spacing;
		line-height: $line-spacing;
	
		@include extra-small-screen {
			li:hover > ul,
				li.focus > ul {
					display: none;
				}
			
		};

		@include small-screen {
			li:hover > ul,
				li.focus > ul {
					display: none;
				}
			
		};

		@include medium-screen {
			font-size: 1em;
			li:hover > ul,
				li.focus > ul {
					display: inline-block;
				}
			
		};

		@include large-screen {
			font-size: 1.25em;
			li:hover > ul,
				li.focus > ul {
					display: inline-block;
				}
		};

		@include largest-screen {
			font-size: 1.5em;
			li:hover > ul,
				li.focus > ul {
					display: inline-block;
				}
		};

		// Sub-menu items
		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			position: inherit;
			z-index: 99999;
			display: none;

			@include medium-screen {
				li {	
					width: 175%;		
					a {
						font-size: 1em;
					}
					
				}
	
			};
			
			@include large-screen {
				li {	
					width: 225%;	
					a {
						font-size: .75em;
					}
				}
			};
			
			@include largest-screen {
				li {	
					width: 250%;	
					max-width: 450px;
					a {
						font-size: .5em;
					}
				}
			};

		}
		
	}

	li {
		display: block;
		margin: auto;
		position: relative;
		width: 100%;
		height: 100%;
		text-align: center;		
	

		a {
			margin: auto;
			width: 100%;
			height: 100%;
			background-color: $color__MainBackground;
		}

		&:hover > a,
		&.focus > a {			
			background-color: mediumaquamarine;
		}
	}

	a {
		display: inline-block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		background-color: midnightblue;
	}
}

// screen sizes to cater for
// $extra-small: 576px;
// $small: 768px;
// $medium: 992px;
// $large: 1200px;

@include extra-small-screen {
	.main-navigation {
		display: none;
		height: 0;
		.sub-menu {
			display: none;
		}
		
	}
	.mobileMenu {
		display: flex;

		ul {
			flex-direction: column;
			z-index: 10001;
		}		
	}
};

@include small-screen {
	.main-navigation {
		display: none;
		height: 0;
		.sub-menu {
			display: none;
		}
	}	
	.mobileMenu {
		display: flex;
		
		ul {
			flex-direction: column;
			z-index: 10001;
		}
	}	
};

@include medium-screen {
	.main-navigation {
		display: flex;
		z-index: 10001;
	}
	.toggle-nav {
		display: none;
	}
	
};

@include large-screen {
	.main-navigation {
		display: flex;
		z-index: 10001;
	}
	.toggle-nav {
		display: none;
	}
};

@include largest-screen {
	.main-navigation {
		display: flex;
		z-index: 10001;
	}
	.toggle-nav {
		display: none;
	}
};

@include extra-small-screen {
	
	
};

@include small-screen {
	
	
};

@include medium-screen {
	
	
};

@include large-screen {
	
};

@include largest-screen {
	
};

