.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

// basic page layout
.hentry{
		// display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
		padding: 1 1 1 1;
		width: 70%;
		align-items: center;
		
	}
	header {
		background-color: white;
	}
	h1, h2, h3, h4, header{
		text-align: center;
	}
	.entry-content {
		padding-left: 10%;
		padding-right: 10%;
		div{
			background-color: white;
		}
		p{
			text-align: justify;
			justify-content: center;
			vertical-align: middle;
			padding-left: 10%;
			padding-right: 10%;
		}
	.entry-header{
		width: 100%;
		flex: 1 0 100%;
	}
	.post-content{
		width: 60%;
	}
}