.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

#music-padding {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 50px;
}

#music_player {
  height: 50px;
  display: block;
  text-align: center;
}

.wp-audio-shortcode {
  height: 50px;
  // width: 50% !important;
}

// audio::-webkit-media-controls-panel {
//   background-color: red;
// }

@include extra-small-screen {
  .custom-logo-link {
    display: block;
  }
  .custom-logo {
    height: $nav-button-height + (2 * $nav-button-margin);
    width: $nav-button-height + (2 * $nav-button-margin);
  }
  #music_player {
    width: 100%;
    margin: auto;
  }
  #music-padding {
    width: 100%;
    margin: auto;
  }
  .wp-audio-shortcode {
    // width: 100% !important;
  }
}

;

@include small-screen {
  .custom-logo-link {
    display: block;
  }
  .custom-logo {
    height: $nav-button-height + (2 * $nav-button-margin);
    width: $nav-button-height + (2 * $nav-button-margin);
  }
  #music_player {
    width: 100%;
    margin: auto;
  }
  #music-padding {
    width: 100%;
    margin: auto;
  }
  .wp-audio-shortcode {
    // width: 100% !important;
  }
}

;

@include medium-screen {
  #music_player {
    width: 100%;
    margin: auto;
  }
}

;

@include large-screen {
  #music_player {
    width: 100%;
    margin: auto;
  }
}

;

@include largest-screen {
  #music_player {
    width: 100%;
    margin: auto;
  }
}

;

.mejs-container, .mejs-container .mejs-controls, .mejs-embed, .mejs-embed body {
  background: transparent !important;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
